:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #333; /* Texte gris foncé (lisible !) */
    background-color: #f4f6f8; /* Fond gris très clair pour toute l'app */
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    color: #2c3e50; /* Titres en bleu nuit */
    margin-top: 0;
}

button {
    cursor: pointer;
}